body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
    font-family: Arial, sans-serif;
}

#timer {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    text-align: center;
}

#jours, #heures, #minutes, #secondes {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

